<div class="container">
  <div class="row">
    <div class="col-12 mt-2 mb-2">
      <button class="btn btn-primary" (click)="addEmployee()">Add Employee</button>
      <br/>
    </div>
  </div>
  <table class="table table-striped">
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Joining Date</th>
        <th>Gender</th>
        <th>Role</th>
        <th>Department</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let employee of employees; let i = index">
        <td> {{employee.EmployeeID}} </td>
        <td> {{employee.EmployeeName}} </td>
        <td> {{employee.JoiningDate  | date: 'dd/MM/yyyy' }} </td>
        <td> {{employee.Gender}} </td>
        <td> {{employee.Role}} </td>
        <td> {{employee.Department}} </td>
        <td>
          <button class="btn btn-primary"  (click)="edit( employee.EmployeeID )" >Edit</button> &nbsp;
          <button class="btn btn-danger" (click)="delete( employee.EmployeeID )">Delete</button>
        </td>
      </tr>
  </table>
</div>
